python-socketio==4.2.0
uvicorn==0.8.3
python-chess==0.28.1
watchgod==0.4

certifi==2019.6.16
chardet==3.0.4
Click==7.0
h11==0.8.1
httptools==0.0.13
idna==2.8
pkg-resources==0.0.0
python-engineio==3.8.2.post1
requests==2.22.0
six==1.12.0
urllib3==1.25.3
uvloop==0.12.2
websocket-client==0.56.0
websockets==9.1
